<nav class="navbar  navbar-expand-lg navbar-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
     
      <ul class="navbar-nav  mr-auto mt-2 mt-lg-0">
        <li class="nav-item1">
            <a class="navbar-brand" href="#" title=" on twitter"> <i class="fa fa-twitter"></i></a>
      </li>
        <li class="nav-item1">
            <a class="navbar-brand" href="#" title=" on facebook" > <i class="fa fa-facebook-square"></i> </a>
      </li>
        <li class="nav-item1">
            <a class="navbar-brand" href="#" title=" on youtube"> <i class="fa fa-youtube-square"></i>  </a>      
            </li>
          <li class="nav-item1 ">
            <a class="navbar-brand" href="#" title="on pinterest" > <i class="fa fa-pinterest"></i> </a>      
            </li>
            <li class="nav-item1 ">
                <a class="navbar-brand" href="#" title="" > <i class="fa fa-instagram"></i> </a>      
                </li>
      </ul>
      
      <ul class="navbar-nav">
        <li class="nav-item2 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              USD
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">USD</a>
              <a class="dropdown-item" href="#">CAD </a>
              <a class="dropdown-item" href="#"> AUD </a>
              <a class="dropdown-item" href="#"> GBP </a>
              <a class="dropdown-item" href="#"> EUR  </a>
              <a class="dropdown-item" href="#"> JPY </a>
            </div>
          </li>
        
        <li class="nav-item2 ">
          <a class="nav-link" href="#">login <span class="sr-only">(current)</span> </a>
        </li>
        <li class="nav-item2">
            <a class="navbar-brand" href="#" title="" > <i class="fa fa-user"></i> </a>      
        </li>
        <li class="nav-item2">
            <a class="navbar-brand" href="#" title="" > <i class="fa fa-shopping-cart"></i> </a>      
        </li>
     
      </ul>
      
    </div>
  </nav>

  <nav class="navbar mine navbar-expand-lg navbar-light bg-white " style="height: 50px;">
    <div class="logo" style="float: left;">
    <a class="navbar-brand" href="#"> <img src="../../assets/logo/logo@2x.png" alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse center main_nav clearfix menu-position--inline logo-align--left" id="navbarSupportedContent">

      <ul class="navbar-nav m-auto text-center dropdown-nav">
        <li class="nav-item3 dropdown" >
        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        [LABOR DAY SALE ]
          </a>
        </li>
        <li class="nav-item3 dropdown">
          
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              New Swim
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item3 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FITNESS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        <li class="nav-item3 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LIFE STYLE 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item3 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MEN KIDS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li>
          <div class="search-icon" >
            <form class="form-inline my-2 my-lg-0 w-50">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              </form>
        </div>
    </li>
      </ul>
     
    </div>
 
    
  </nav>